{{ define "content" }}
<h1 class="text-red-50">Home</h1>
<p>{{ if .Message }}{{ .Message }}{{ else }}This is the home page rendered from web/pages/index.tmpl.{{ end }}</p>
<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/blog">Blog index</a></li>
  <li><a href="/blog/hello">Blog Hello (form)</a></li>
</ul>
{{ end }}
