{{ define "content" }}
<h1>Blog</h1>
<p>This is the blog index. It maps from <code>web/pages/blog/index.tmpl</code> to route <code>/blog</code>.</p>
<ul>
  <li><a href="/blog/hello">Hello Post</a></li>
</ul>
{{ end }}
